name: Docker deploy

on:
  push:
    branches: [ simple ]

jobs:
  buildx:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest

      - name: Login to Docker Hub
        run: docker login --username ${{ secrets.DOCKERHUB_USER }} --password ${{ secrets.DOCKERHUB_PASSWD }}

      - name: Run Buildx
        run: |
          docker buildx build \
            --platform linux/amd64,linux/386,linux/arm64/v8,linux/arm/v7 \
            --push \
            . \
            -t ${{ secrets.DOCKERHUB_REPO_SIMPLE }}
